//- @defaultData = bonusBanner2
//- @mixin
include /components/fragments/button.pug
mixin bonusBanner(item)
    div.bonus-banner( style=`background-image: ${item.grad}`, class=item.modificator ? item.modificator : '')
        .bonus-banner__content 
            p.bonus-banner__type= item.type 
            p.bonus-banner__title= item.title
            if item.descr
                p.bonus-banner__descr= item.descr
        if item.promo || item.btn 
            .bonus-banner__block
                if item.promo 
                    .promo-block.promo-block--tr.js-copy
                        p.promo-block__text.js-copy__text Promocode
                        button.btn.promo-block__btn 
                            +icon("copy")
                if item.btn
                    +button("btn--extra", "Get Bonus")
        img(src=`img/${item.img}`, alt="")