//- @defaultData = table, true
//- @mixin
include /components/fragments/button.pug
include /mixins/icons.pug
mixin table(table,  isScroll)
    if isScroll
        .table.js-scroll-list(class=`${table.modificator ? table.modificator : ""}`)
            table.wp-block-table
                if table.thead 
                    thead 
                        each tr in table.thead 
                            tr 
                                each th in tr 
                                    th(class=`${th.className ? th.className : ""}`)!= th.text
                if table.tbody
                    tbody 
                        each tr in table.tbody 
                            tr
                                each cell in tr
                                    if cell.th
                                        th(class=`${cell.modificator ? cell.modificator : ''}`)!= cell.th     
                                    if cell.td
                                        td(class=`${cell.modificator ? cell.modificator : ''}`)!= cell.td     
    else 
        table.wp-block-table(class=`${table.modificator ? table.modificator : ""}`)
            if table.thead 
                thead 
                    each tr in table.thead 
                        tr 
                            each th in tr
                                th(class=`${th.className ? th.className : ""}`)!= th.text
            if table.tbody
                tbody 
                    each tr in table.tbody 
                        tr 
                            each cell in tr
                                if cell.th
                                    th(class=`${cell.modificator ? cell.modificator : ''}`)!= cell.th     
                                if cell.td
                                    td(class=`${cell.modificator ? cell.modificator : ''}`)!= cell.td   