include /layouts/base.pug
header.header.js-header 
    .header__overlay.js-header__overlay
    .header__wrap 
        .header__burger.js-burger
            span  
        a.header__logo(href="#") 
            img(src="img/logo.png" alt="")
        .header__mob
            nav.header__nav.js-burger__nav.js-menu.js-more
                ul.header-menu.js-menu__list.js-more__menu
                    each el in navigation
                        li.item.js-more__item.js-menu__item(class=`${el.submenu ? 'parent' : ''} ${el.modificator ? el.modificator : ''}`)
                            a(href=el.link)= el.title 
                            if el.submenu
                                +icon("arrow-down")
                                ul.submenu.js-menu__list
                                    each submenuEl in el.submenu 
                                        li.item.js-menu__item(class=`${submenuEl.submenu ? 'parent' : ''} ${submenuEl.modificator ? submenuEl.modificator : ''}`)   
                                            a(href=submenuEl.link)
                                                if submenuEl.svg 
                                                    +icon(submenuEl.svg)
                                                | #{submenuEl.title}
                                            if submenuEl.submenu
                                                +icon("arrow-down")
                                                ul.submenu
                                                    each submenuEl2 in submenuEl.submenu 
                                                        li.item.js-menu__item(class=`${submenuEl2.modificator ? submenuEl2.modificator : ''}`)   
                                                            a(href=submenuEl2.link)
                                                                if submenuEl2.svg 
                                                                    +icon(submenuEl2.svg)
                                                                | #{submenuEl2.title}
                    li.more-block.js-more__btn   
                        .more-block__btn 
                            span.more-block__circle 
                        .more-block__dropdown 
                            ul.submenu.js-more__list
            include /components/fragments/lang.pug
        .header__btns 
            +button("btn--primary","Register")
            +button("btn--extra","Download App")






